PORT=8000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/databasename

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=your_access_token_secret_here
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRY=365d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

PRIVATE_KEY=your_ethereum_private_key
RPC_URL=https://sepolia.infura.io/v3/your_infura_key

VOTING_SYSTEM_CONTRACT_ADDRESS=0x...
MESS_ATTENDANCE_CONTRACT_ADDRESS=0x...
COMPLAINT_SYSTEM_CONTRACT_ADDRESS=0x...

GEMINI_API_KEY=your_gemini_api_key
